@import '../../styles/settings.scss';

.container {
  position: relative;
}

.custombtn {
  color:#346DAA !important;
  font-family: 'Inter';
  margin: 10px;
  width: 140px;
}

.buttonsWrapper {
  width: 95%;
  margin:auto;
}


